#reader-mode-button {
	display: none;
}

/* #urlbar-input-container[pageproxystate='valid'] > #tracking-protection-icon-container {
	display: none;
}

#star-button {
	display: none;
}

#identity-box[pageproxystate='valid'].localResource {
	display: none;
} */
