:root {
    --background-primary: #0E1112 !important;
    --background-secondary: #0E1112 !important;
    --background-tertiary: #0E1112 !important;
    --bg-0: #0E1112 !important;
    --bg-1: #0E1112 !important;
    --bg-2: #0E1112 !important;
	--border-hover-color: #7A8287 !important;
	--button-filled-brand-background: #7A8287 !important;
	--bg-brand: #7A8287 !important;
	--acc-0: #7A8287 !important;
}
