@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url(https://seele1306.github.io/Snippets/BetterProfiles/import.css);
:root {
    /* --test-color: hsl(250, 45%, 45%); */
    --section-thickness: 1px; /* must be in pixels */
    --profile-accent-color: 250deg 45% 45%;
    --profile-transparency: 25%;
    --font-primary: "DejaVu Sans Mono";
    --font-display: "DejaVu Sans Mono";
    /* --font-primary: "Quicksand"; */
    /* --font-display: "Quicksand"; */
}

/*
nitroTabBadgeContainer-
badgeContainer-
*/
[class*="badgeContainer-"]:has([class*="bogoTrialBadge-"]) {
    display: none;
}

/* .panels-3wFtMD .container-YkUktl .flex-2S1XBF {
  width: fit-content !important; 
}

.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW {
  width: 194px;
  margin-right: 0px !important;
}

.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW:hover {
  margin-right: 8px !important;
}

.panels-3wFtMD .container-YkUktl .flex-2S1XBF button[role="switch"] {
  width: 0px;
  overflow: hidden;
  transition: all 0.3s;
  left: 16px;
}

.panels-3wFtMD .container-YkUktl .flex-2S1XBF:hover button[role="switch"] {
  width: 32px;
  overflow: visible;
  transition: all 0.3s;
  left: 0px;
}

.panels-3wFtMD .container-YkUktl .flex-2S1XBF:not(:hover) button:not([role="switch"]) svg {
  rotate: 360deg;
  transition: rotate 0.3s;
  background-color: var(--background-secondary-alt);
}

.panels-3wFtMD .container-YkUktl .flex-2S1XBF:hover button:not([role="switch"]) svg {
  rotate: 0deg;
  transition: rotate 0.3s;
} */

/* DISCORD ADVERTISING */
[href='/store'] {display:none}

[class*="profileEffects"] {
  display:none;
}

[class^="avatarDecoration"] img {
  display: none;
}

.container__10dc7, .header__60bef, .scrollerContainer_bf5dbd .container__7590f {
  background-color: var(--background-primary) !important;
}

.userPopoutInner_f545a3 {
  max-height: calc(100vh - 100px);
}

[href='/shop'] {display: none;}

.wrapper_c721cc {
  display: none;
}

/* Hide nameplates */
[style^="background: linear-gradient(90deg"]:has([src*="/nameplates/"]) { display: none; }
[class*="dm_"]:has([class*="linkPlated_"]) {
    & [class*="linkPlated_"] { padding-right: var(--space-16); }
    & [class*="closeButtonPlated_"] {
        opacity: 0.7;
        &:hover { opacity: 1; }
        & [class^="innerCloseButtonPlated"] {
            opacity: unset; 
            background: none;
            & svg {
                color: inherit;
                &:is(:hover, :focus-within) { color: var(--interactive-hover); }
            }
        }
    }
}